<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.dao.BlogDao">


    <resultMap id="blog" type="com.ecut.dto.BlogQuery">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="updateTime" column="update_time"/>
        <result property="recommend" column="recommend"/>
        <result property="typeId" column="type_id"/>
        <association property="type" javaType="com.ecut.domain.Type">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <resultMap id="detailedBlog" type="com.ecut.dto.DetailedBlog">
        <id property="id" column="bid"/>
        <result property="firstPicture" column="first_picture"/>
        <result property="flag" column="flag"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="views" column="views"/>
        <result property="updateTime" column="update_time"/>
        <result property="commentabled" column="commentabled"/>
        <result property="shareStatement" column="share_statement"/>
        <result property="appreciation" column="appreciation"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <collection property="tags" ofType="com.ecut.domain.Tag">
            <id property="id" column="tid"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="listBlog" resultMap="blog">
        select b.id,b.title,b.update_time,b.recommend,b.type_id,t.id,t.name from t_blog b left outer join
        t_type t on b.type_id = t.id order by b.update_time desc
    </select>
    



    <select id="getBlog" resultType="map">
         select id,published,flag,title,content,type_id,
         tag_ids,first_picture,description,recommend,share_statement,
         appreciation,commentabled from t_blog   where  id = id;
    </select>

    <insert id="saveBlog" parameterType="com.ecut.domain.Blog">
        INSERT into t_blog (id,title, content, first_picture, flag,
        views, appreciation, share_statement, commentabled,published,
        recommend, create_time, update_time, type_id,tag_ids, user_id, description)
        values (#{id},#{title},#{content},#{firstPicture},#{flag},#{views},#{appreciation},
        #{shareStatement},#{commentabled},#{published},#{recommend},#{createTime},
        #{updateTime},#{typeId},#{tagIds},#{userId},#{description});
    </insert>

    <insert id="saveBlogAndTag" parameterType="com.ecut.domain.BlogAndTag">
        insert into t_blog_tags (tag_id, blog_id) values (#{tagId},#{blogId});
    </insert>

    <delete id="deleteBlog">
        delete from t_blog where id = #{id}
    </delete>

    <update id="updateBlog" parameterType="com.ecut.dto.ShowBlog">
        update t_blog set published = #{published},flag = #{flag} ,
        title = #{title}, content = #{content}, type_id = #{typeId}, tag_ids = #{tagIds},
        first_picture = #{firstPicture} , description = #{description} , recommend = #{recommend} ,
        share_statement = #{shareStatement}, appreciation = #{appreciation},
        commentabled = #{commentabled} ,update_time = #{updateTime} where id = #{id};
    </update>


    <select id="getBlogBySearch" parameterType="com.ecut.dto.SearchBlog" resultMap="blog">
        <bind name="pattern" value="'%' + title + '%'" />
        select b.id,b.title,b.update_time,b.recommend,b.type_id,t.id,t.name from t_blog b ,t_type t
        <where>
            <if test="1 == 1">
                b.type_id = t.id
            </if>
            <if test="typeId != null">
                and b.type_id = #{typeId}
            </if>
            <if test="recommend2 != null">
                and b.recommend = #{recommend2}
            </if>
            <if test="title != null">
                and b.title like #{pattern}
            </if>
        </where>
    </select>


    <select id="getBlogById" resultType="com.ecut.dto.ShowBlog" >
        select id,published,flag,title,content,type_id,
        tag_ids,first_picture,description,recommend,share_statement,
        appreciation,commentabled from t_blog   where  id = #{id};
    </select>

    <delete id="deleteBlogAndTag" >
        delete from t_blog_tags where blog_id = #{blogId}
    </delete>


    <select id="getFirstPageBlog" resultType="com.ecut.dto.FirstPageBlog">
        select b.id,b.title,b.first_picture, b.views,b.update_time,b.description,
        t.name , u.nickname, u.avatar
        from t_blog b, t_type t,t_user u
        where b.type_id = t.id and  u.id = b.user_id order by b.update_time desc
    </select>

    <select id="getAllRecommendBlog" resultType="com.ecut.dto.RecommendBlog">
    select id,title,recommend from t_blog;
</select>

    <select id="getSearchBlog" resultType="com.ecut.dto.FirstPageBlog">
        <bind name="pattern" value="'%' + query + '%'" />
        select b.id,b.title,b.first_picture, b.views,b.update_time,b.description,
        t.name ,
        u.nickname, u.avatar
        from t_blog b, t_type t,t_user u
        where b.type_id = t.id and  u.id = b.user_id and b.title like #{pattern} or b.content like  #{pattern}
        order by b.update_time desc
    </select>

    <select id="getDetailedBlog" resultMap="detailedBlog">
        select b.id bid,b.first_picture,b.flag,b.title,b.content,b.views,b.update_time,b.commentabled,b.share_statement,b.appreciation, u.nickname,u.avatar,
        t.id tid ,t.name
        from t_blog b,t_user u,t_tag t,t_blog_tags tb
        where b.user_id = u.id and tb.blog_id = b.id and tb.tag_id = t.id and  b.id = #{id}
    </select>



    <select id="getByTagId" resultType="com.ecut.dto.FirstPageBlog">
        select b.id,b.title,b.first_picture,b.views,b.update_time,b.description,
        t.name,
        u.nickname,u.avatar
        from t_blog b,blog.t_type t,t_user u ,t_blog_tags tb,t_tag t1
        where b.type_id = t.id and u.id = b.user_id and tb.blog_id = b.id and tb.tag_id = t1.id and t1.id = #{tagId}
        order by b.update_time desc
    </select>

    <update id="upViews" parameterType="int">
        UPDATE t_blog set views=views+1;
    </update>

    <select id="getByTypeId" resultType="com.ecut.dto.FirstPageBlog">
        select b.id,b.title,b.first_picture, b.views,b.update_time,b.description,
        t.name ,
        u.nickname, u.avatar
        from t_blog b,t_type t,t_user u
        where b.type_id = t.id and u.id = b.user_id and b.type_id = #{typeId} order by b.update_time desc
    </select>


    <!--<select id="getByTagId" resultType="com.ecut.dto.FirstPageBlog">-->
        <!--select b.id,b.title,b.first_picture,b.views,b.update_time,b.description,-->
        <!--t.name,-->
        <!--u.nickname,u.avatar-->
        <!--from t_blog b,blog.t_type t,blog.t_user u ,t_blog_tags tb,t_tag t1-->
        <!--where b.type_id = t.id and u.id = b.user_id and tb.blog_id = b.id and tb.tag_id = t1.id and t1.id = #{tagId}-->
        <!--order by b.update_time desc-->
    <!--</select>-->
</mapper>
