<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.dao.TagDao">

    <select id="getById" resultType="com.ecut.domain.Tag">
        select * from t_tag where id = #{id}
    </select>

    <insert id="saveTag" parameterType="com.ecut.domain.Tag">
        insert into t_tag values (#{id},#{name});
    </insert>

    <select id="getByName" resultType="com.ecut.domain.Tag">
        select * from t_tag where name = #{name}
    </select>

    <resultMap id="tags" type="com.ecut.domain.Tag">
        <id property="id" column="tid"/>
        <result property="name" column="name"/>
        <collection property="blogs" ofType="com.ecut.domain.Blog">
            <id property="id" column="bid"/>
            <result property="title" column="title"/>
        </collection>
    </resultMap>

    <select id="getAllTag" resultMap="tags">
        select t.id tid,t.name,b.id bid,b.title from t_tag t,t_blog b, t_blog_tags bt
        where t.id = bt.tag_id and b.id = bt.blog_id
    </select>

    <select id="getAdminTag" resultType="com.ecut.domain.Tag">
        select * from t_tag
    </select>

    <delete id="deleteTag" >
        delete from t_tag where id = #{id}
    </delete>

    <update id="updateTag" parameterType="com.ecut.domain.Tag">
        update t_tag set name = #{name} where id = #{id};
    </update>


</mapper>